<div role="progressbar" style="--p:<%= percentage %>; --s:<%= size %>; --c:<%= color %>" class="flex items-center justify-center">
  <div class="flex items-end">
    <span class="text-5xl font-medium"><%= level %></span>
    <% if (showMaxLevel) { %>
      <span class="text-lg text-muted-foreground">/ 9</span>
    <% } %>
  </div>
</div>